.theme-default-content:not(.custom),
.page-edit,
.page-nav {
  max-width: 80% !important;
}

table {
  margin 0
}

.special_table {
  table {
    margin-top 20px
    display: table;
    width: 100%;
    color: #606266;

    tr {
      border-top: none;
      border-bottom: 1px solid #eee;
    }

    td, th {
      border: none;
    }
  }
}
