/project
/src
/node_modules
/build
/doc
/docs
/test
etopLogin.min.js
main.js
component.json
commitlint.config.js
babel.config.js
.stylelintrc.json
.postcssrc.js
.eslintrc.js
.eslintignore
.editorconfig
.husky